# cache files
*#
*~
.cache/
.lsp-session-v1
elpa/
emojis/
history
persp-confs/
quelpa/
recentf
skk-jisyo
tramp
transient/
tutorial/
url/

# custom files
custom.el
custom/pre-config.el
custom/post-config.el
