;;; init--use-package.el --- A List of files to load as elisp.

;;; Commentary:

;; A List of `(load xx.el)'
;; xx.el is a configuration with use-package.

;;; Code:

(load (concat user-emacs-directory "init.d/core.el"))
(load (concat user-emacs-directory "init.d/standard.el"))


;;; init--use-package.el ends here
