;;; config--PKG.el --- Configuration of PKG.

;;; Commentary:

;;; Code:

(require 'use-package)
(require 'quelpa-use-package)
(require 'general)

(use-package PKG
  :quelpa                              ; install PKG
  ;; :quelpa PKG
  ;; :quelpa (PKG :fetcher github
  ;;              :repo "kurubushi/hoge")
  :after (config--PKG1 config--PKG2)
  :general (general-define-key :keymaps '(insert)
                               "C-x" 'some-function))

(provide 'config--PKG)

;;; config--PKG.el ends here
