;;; post-config.el --- Device-specific configuration.

;;; Commentary:

;; Loaded by init.el after `(use-package config--PKG)'s.

;;; Code:

(provide 'post-config)

;; Local Variables:
;; byte-compile-warnings: (not free-vars)
;; End:

;;; post-config.el ends here
